$main-color: #00E9FF;
$main-color2: #8498DD;
$colorPrimary: #333333;
$colorSecondary: #6C757D;
$colortertiary: #ffff;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: justify;
}

html{
  min-width: 300px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba($color: #00E9FF, $alpha: 0.5);
  border-radius: 3px;
}
  
img{
  user-select: none;
  pointer-events: none;
}
  
.navbar-brand{
  color: $main-color !important;
}
  
.nav-link{
  color:  #B4B4B4 !important;
  margin-right: 22px;
}
  
.nav-link:nth-child(1){
  color: $colorPrimary !important;
  margin-left: 44px;
}
  
.nav-link:hover{
  color: $colorPrimary !important;
}
  
.navbar-toggler{
  border: none;
}
  
.navbar-toggler {
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}
    
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: $colorPrimary;
  margin: 6px 0;
  transition: 0.4s;
}

.bg1{
  position: relative;
  width: 90%;
  min-height: 650px;
  max-height: 700px;
  background: linear-gradient(89.69deg, rgba(255, 255, 255, 0) 0.27%, rgba(220, 234, 242, 0.4) 99.74%);
  border-radius: 0px 0px 195px 0px;
}

.vectShape1{
  position: absolute;
  right: -20px;
}

.vectShape2{
  position: absolute;
  left: 0px;
  top: 100px;
}

.vectShape3{
  position: absolute;
  bottom: -10px;
  left: 5%;
}

.mainBtn{
  border-radius: 30px;
  border: none;
  padding: 20px 40px;
  background-color:$main-color2;
  color: $colortertiary;
  text-decoration: none;
  transition: box-shadow .3s ease;
}

.mainBtn:hover{
  color: $colortertiary;
  box-shadow: 1px 1px 17px -1px rgba(132,152,221,0.75);
}

.mainSvg{
  height: 850px;
  margin-top: -350px;
  margin-right: -100px;
}

.bg2{
  margin-top: 280px;
}

.keyWord{
  position: relative;
  font-weight: 600;
}

.keyWord::before{
  content: ' ';
  position: absolute;
  width: 100%;
  height: 15px;
  left: 0;
  bottom: 0;
  background-color: $main-color;
  z-index: -1;
  opacity: 0.5;
}

.bg2Circle{
  position: relative;
  width: 90%;
  min-height: 750px;
  max-height: 750px;
  background: linear-gradient(89.69deg, rgba(205, 229, 243, 0.2) 0.27%, rgba(255, 255, 255, 0) 99.74%);
  border-radius: 0px 0px 0px 195px;
}

.vectShape4{
  position: absolute;
  left: -42px;
}

.vectShape5{
  position: absolute;
  right: 0px;
  bottom: 100px;
}

.bg2PhoneContent{
  display: none;
}

#myProgress {
  position: absolute;
  width: 150px;
  border-radius: 20px;
  background-color: #ddd;
}

#myBar {
  width: 0%;
  border-radius: 20px;
  height: 5px;
  background: rgb(137,156,219);
  background: linear-gradient(90deg, rgba(137,156,219,1) 50%, rgba(0,233,255,1) 100%);
}

.bg3{
  position: relative;
  width: 100%;
  min-height: 750px;
  max-height: 750px;
}

.movingObj{
  position: absolute;
  opacity: 0.5;
  z-index: -1;
  filter: blur(2px);
}

.bg4{
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 450px;
  max-height: 450px;
}

.greyScale{
  filter: grayscale(100%);
}

.lock{
  cursor: pointer;
  pointer-events: all;
  transition: all .5s ease;
}

.bg4InfoBox{
  width: 250px;
  height: 200px;
  background-color: #C8F4FF;
  position: absolute;
  border-radius: 20px;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
}

.bg4InfoBox:nth-child(2){
  margin-top: 150px;
  margin-left: 340px;
  background-color: #E9F3FB;
}

.bg4InfoBox:nth-child(3){
  margin-top: 150px;
  margin-right: 350px;
  background-color: #E9F3FB;
}

.teamDiv{
  border-radius: 50%;
  margin-left: 20px;
  height: 110px;
  width: 110px;
  opacity: .5;
}

.teamDiv:nth-child(2) {
  height: 150px;
  width: 150px;
  opacity: 1;
}

.teamDiv:nth-child(1) {
  margin-left: -5px;
}

.teamDivPhone{
  border-radius: 50%;
  height: 80px;
  width: 80px;
  opacity: .5;
}

.teamDivPhone:nth-child(2) {
  height: 100px;
  width: 100px;
  opacity: 1;
}

.teamDivPhone:nth-child(1) {
  margin-left: -5px;
}


// Extra Small devices (576px and down)
@media (max-width: 576px) { 
  .bg1{
    height: 100vh;
    width: 100%;
    border-radius: 0px 0px 0px 0px;
  }
  .vectShape1{
    right: 10px;
    height: 120px;
    top: 100px;
  }
  .compTitle2{
    margin-top: 50px;
  }
  .bg2Circle{
    background: none;
  }
  .bg2PcContent{
    display: none;
  }
  .bg2PhoneContent{
    display: block;
  }
  #taskIcon, #bossIcon{
    height: 80px;
  } 
  .bg4{
    min-height: 350px;
    max-height: 350px;
  }
  .bossDiv{
    margin-left: -20px !important;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
  .bg1{
    width: 100%;
    min-height: 760px;
    max-height: 760px;
    border-radius: 0px 0px 0px 0px;
  }
  .vectShape1{
    right: 10px;
    height: 150px;
    top: 100px;
  }
  .mainSvg{
    height: 500px;
    margin-top: 50px;
    margin-right: 0px;
  }
  .compTitle2{
    margin-top: 260px;
  }
  .bg2Circle{
    background: none;
  }
  .bg2PcContent{
    display: none;
  }
  .bg2PhoneContent{
    display: block;
  }
  #taskIcon, #bossIcon{
    height: 90px;
  }
  .bossDiv{
    margin-left: -25px !important;
  }
  .bg3{
    min-height: 780px;
    max-height: 780px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
  .bg1{
    min-height: 890px;
    width: 100%;
    border-radius: 0px 0px 0px 0px;
  }
  .vectShape1{
    right: 10px;
    height: 150px;
    top: 100px;
  }
  .mainSvg{
    height: 600px;
    margin-top: 50px;
    margin-right: 0px;
  }
  .compTitle2{
    margin-top: 260px;
  }
  .bg2Circle{
    background: none;
  }
  .bg2PcContent{
    display: none;
  }
  .bg2PhoneContent{
    display: block;
  }
  #taskIcon, #bossIcon{
    height: 100px;
  }
  .bossDiv{
    margin-left: -20px !important;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .mainSvg{
    height: 660px;
    margin-top: -250px;
    margin-right: -50px;
  }
  .bg2{
    margin-top: 240px;
  }
  .imgBg2{
    height: 400px;
  }
  .bg2PhoneContent{
    display: none;
  }
}
